<h2>Add New Book</h2>

<form style="display: flex; flex-direction:column;gap:15px; margin-Top:20px; max-width:26rem; width:100%;">
  <div class="form-group">
    <label for="Name">Book Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book title">
    
  </div>
  <div class="form-group">
    <label for="Name">Book Author Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book Author Name">
  </div>
  <div class="form-group">
    <label for="Name">Book Publisher</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book publisher">
  </div>
  <div class="form-group">
    <label for="Name">Book Price</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book price">
  </div>
  <div class="form-group">
    <label for="Name">Book Language</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book language">
  </div>
  <div class="form-group">
    <label for="Name">Book Edition</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book edition">
  </div>
    <label for="Name">Book Published Date</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book Author Name">
  </div>
  <div style=" width:10rem;margin-left:7rem;padding-bottom:10px;">
 <button type="submit" class="btn btn-primary">ADD</button>
  </div>
</form>